<div class="text">
    <br>
    <br>
    <center>
        <h10>Para começar</h10>
        <br>
        <h20>
            Escolha uma das opções.
        </h20>
    </center>
</div>
<br>
<br>
<div class="container center-align" style="display: flex; justify-content: center;">
    <div class="col s4">
        <a href="/pedidos">
            <div class="col s4">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card black darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Pedidos</span>
                                <p>Veja todos os pedidos feitos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/baseMateriaPrima">
            <div class="col s4">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card black darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Matéria Prima</span>
                                <p>Altere o Custo da Matéria Prima</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>